name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  test-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        run: chmod +x demo/gradlew

      - name: Debug where gradlew is
        run: |
          pwd
          ls -al
          find . -maxdepth 4 -name gradlew -print

      - name: Test
        working-directory: demo
        run: ./gradlew test

      - name: Build
        working-directory: demo
        run: ./gradlew build -x test